* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
}

.logo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url('../img/spacebackground.jpg');
    background-size: cover;
    background-position: center;
    font-family: "Geom", sans-serif;
    z-index: -5;
}



li{
    list-style: circle;
}

.navbar ul,
.navbar li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: azure;
    font-size: 1rem;
}

.line{
    width:100%;
    height:1px;
    background-color: white;
    margin-top: 3px;
}

a:hover {
    color: rgb(138, 204, 224);
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display:flex;
    gap: 4rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(142, 200, 222);
    color: #082b38;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scal;
}

.action_btn:hover {
  transform: scale(1.05);
  color: #fff;
}

/* 下拉選單 */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    display: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.215, 0.610, 0.355, 1);
    z-index: 5;
}

.dropdown_menu.open{
    height: 192px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 650px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn {
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}